<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BankingApplication</display-name>
  <context-param>
    <param-name>log4j-config-location</param-name>
    <param-value>WEB-INF\log4j.properties</param-value>
  </context-param>
  <servlet>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.handler.servlets.LogInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestHandler</servlet-name>
    <servlet-class>com.handler.servlets.RequestHandlerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.handler.servlets.UserRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogInFailed</servlet-name>
    <servlet-class>com.handler.servlets.LogInFailedServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogInHome</servlet-name>
    <servlet-class>com.handler.servlets.LogInHomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserAndAccountCreation</servlet-name>
    <servlet-class>com.handler.servlets.UserAndAccountCreationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.handler.servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionTimedOut</servlet-name>
    <servlet-class>com.handler.servlets.SessionTimedOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestHandler</servlet-name>
    <url-pattern>/RequestHandlerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInFailed</servlet-name>
    <url-pattern>/LogInFailedServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInHome</servlet-name>
    <url-pattern>/LogInHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAndAccountCreation</servlet-name>
    <url-pattern>/UserAndAccountCreationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionTimedOut</servlet-name>
    <url-pattern>/SessionTimedOutServlet</url-pattern>
  </servlet-mapping>
</web-app>